DJANGO_API_URL=http://127.0.0.1:8000
ADMIN_SERVICE_KEY=jbG59MRan-1KSCAt2LRGERCPUDSo4Ptt_LMBrM7o_i3e_aT8Ic87pfP65M-EGlbf
DATABASE_URL=postgres://postgres:1122@localhost:5432/landing
ADMIN_PASSWORD=admin123
DIRECT_URL=http://127.0.0.1:3000